#container{
	position:relative;
	margin:auto;
	width: 99%;
	height:0%;
}

#header{
	position:absolute;
	width:99%;
	height:19%;
	background-color: white;
	padding-top: 0;
}

#menu{
	position:absolute;
	top: 18%;
	width:99%;
	padding-top: 0;
	padding-bottom: 0;
	float: top;
}

#content{
	position:absolute;
	top:28%;
	width:99%;
	height:50%;
	background-color: white;
}
 
#footer{
	position:absolute;
	top:2200px;
	width:99%;
	height:100px;
	background-color: #595959;
	background-size: 100% 100%;
}
#een{
	position:absolute;
	top:100%;
	width:100%;
	height:300;
	background-color:#B6AFAD;
}

.nav {
	background-color: #595959;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 15px 0 20px 0;
	
}

.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.nav > li > a {
	text-decoration: none;
	color: #ffffff;
}

.nav > li > a:hover {
	color: #c1c1c1;
}

div.container {
    width: 77em;
    border: 1em solid  #595959;
}

div.box {
    box-sizing: border-box;
    width: 30%;
    border: #595959;
    float: top;
    top: 10%;
}

.padding{
	padding-left: 10cm;
	padding-right: 10cm;
}
.Achtergrond{
	width: 100%
}

#Slideshow{
	float: left;
	padding-left: 0;
	padding-right: 0;
}

#show{
	border-bottom: 10px solid black;
	border-right: 10px solid black;
	border-top: 10px solid black;;
	border-left: 10px solid black;;
}

#foto{
	padding-right: 0;
	
}
#Home_tekst{
	padding-left: 50;
	padding-right: 50;
}




